@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 90%;
  margin: auto;
  padding-top: 10px;
}

.switcher {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.view-switch {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.material-icons {
  font-size: 40px;
}

.cards-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop-card {
  background-color: #f5f5f6;
  border-radius: 10px;
  box-shadow: 1px 1px 10px grey;
  margin-bottom: 30px;
  width: 31%;
}

.shop-card__name {
  text-align: center;
  text-transform: uppercase;
}

.shop-card__color {
  text-align: center;
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 0;
}

.shop-card__img {
  width: 300px;
  display: flex;
  margin: auto;
}

.shop-card__buy {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  align-items: end;
}

.shop-card__price {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.shop-card__buy-button {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px red solid;
  border-radius: 20px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.list-view {
  display: flex;
  flex-direction: column;
}

.shop-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f6;
  padding: 0 20px;
}

.shop-item__img {
  width: 100px;
}

.shop-item__name {
  text-align: center;
  text-transform: uppercase;
}

.shop-item__color {
  text-align: center;
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 0;
}

.shop-item__price {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.shop-item__buy-button {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px red solid;
  border-radius: 20px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}